body{
	padding-top: 0 !important; 
}
.nav-item{
	padding: 1px;
}
.nav-item:hover{
	transform: scale(1.1);
}
.bg-dark{
	background: rgba(0, 0, 0, 0.7) !important;
}

.img-opacity:hover{
	cursor: pointer;
	opacity:1;
	transition: 0.5s all;
}
.input-bottom
{
	border:none;
	border-bottom:1px solid rgba(128, 128, 128, 0.671);
}
.input-bottom:hover
{
	border:none;
	border-bottom:1px solid rgba(95, 70, 184, 0.671);
}
.card:hover{
	background: #f1f1f1;
	transition: 0.5s all;
	opacity: 1;
	cursor: pointer;
}
